*{
	margin: 0;
  	padding: 0;
	font-size: 21px;
	font-family: Roboto, Bebas Neue, Arial, sans-serif;
}

h3{
	font-size: 30px;
	font-family: Dancing Script, Pacifico, Cookie;
}

p{
	margin-top: 16px;
}


.hero-image{
	background-image: url("vitrine-breads.jpg");
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:  relative;
	height: 100vh;
}

#hero-box{
	position: relative;
  	top: 50%;
  	display: block;
	width: 50%;
  	margin: auto;
  	/*display: flex;
 	flex-direction: column;
 	justify-content: center;*/  	
  	border:  1px solid;
  	border-color: rgba(90, 90, 90, 0.30);
  	background-color: rgba(90, 90, 90, 0.15);
  	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}

#hero-title{
	font-family: Dancing Script, Pacifico, Cookie;
	font-size: 108px;
	text-align: center;
	position: relative;
}

#hero-text{
	font-size: 36px;
	text-align: center;
	position: relative;
}

.product-wrap{
	display: flex;
	display: -webkit-flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.product-image{
	background-image: url("blueberry-muffins.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 50vh;
	width: 60%;
}

.product-text{
	width: 40%;
	padding: 30px;

}

.btn-subscribe{
	position:  relative;
	margin: 25% auto;
	width:  20%;
	background-color: #f1f1f1;
	color: rgba(60, 60, 60, 1.0);
 	font-size: 16px;
	padding: 16px 30px;
	border: 3px rgba(60, 60, 60, 1.0);
	cursor: pointer;
	border-radius: 120px;
	text-align: center;
}

.btn-subscribe:hover {
  background-color: rgba(60, 60, 60, 1.0);
  color: white;
}

#myStoreDiv{order: 1;}
#myStoreTextDiv {order: 2;}
#myProductDiv {order: 4;}
#myProductTextDiv {order: 3;}

.product-wrap#cadastro{
	margin-top: 15%;
}

form {
	background: rgba(60, 60, 60, 1.0);
	border-radius: 30px;
	margin:  auto;
	width:  600px;
	display:  grid;
	box-shadow: 9px 6px 6px rgba(0, 0, 0, 0.1);
}

input{
	width:  81%;
	margin:  24px auto;
	heigth:  30px;
	border:  3px #333;
	border-radius: 12px;
	padding:  24px;
	box-shadow: 9px 6px 6px rgba(0, 0, 0, 0.1);
}