*{
	margin: 0;
  	padding: 0;
	font-family: Roboto, Bebas Neue, Arial, sans-serif;
	font-size: 21px;
}

body, html{
	height: 100%;
}

@font-face {
   font-family: Dancing;
   src: url(fonts/DancingScript.ttf);
}

@font-face {
   font-family: Roboto;
   src: url(fonts/Roboto-Regular.ttf);
}

h3{
	font-size: 42px;
	font-family: Dancing, Pacifico, Cookie;
}

p{
	margin-top: 18px;
}

a:link, a:visited {
	background-color: #f1f1f1;
	color: rgb(60, 60, 60);
	font-family: Bebas Neue;
	font-size: 24px;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 120px;
	box-shadow: 12px 6px 6px rgba(0, 0, 0, 0.1);
	position:  relative;
	margin: 24px;
	width:  50%;
}

a:hover, a:active {
  background-color: rgb(60, 60, 60);
  color: #f1f1f1;
  border:  2px solid;
  border-color: #f1f1f1;
}

.hero-image{
	background-image: url("img/vitrine-breads.jpg");
	background-color: #ccc;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position:  relative;
	height: 100%;
}

#hero-box{
	position: relative;
  	top: 50%;
  	display: block;
	width: 50%;
  	margin: auto;
  	/*display: flex;
 	flex-direction: column;
 	justify-content: center;*/  	
  	border: none;
  	border-color: rgba(90, 90, 90, 0.30);
  	background-color: rgba(90, 90, 90, 0.15);
  	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}

#hero-title{
	font-family: Dancing, Pacifico, Cookie;
	font-size: 108px;
	text-align: center;
	position: relative;
}

#hero-text{
	font-family: Bebas Neue;
	font-size: 36px;
	position: relative;
	text-align: center;
}
.store{
	background-color: rgb(30, 30, 30);
}

.product-wrap{
	display: flex;
	display: -webkit-flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.image-one{
	background-image: url("img/bread.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 50vh;
	width: 75%;
}

.image-two{
	background-image: url("img/blueberry-muffins.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 50vh;
	width: 75%;
}

.product-text{
	color:  #f1f1f1;
	width: 25%;
	height: 50vh;
	padding: 30px;
}

/*.btn-subscribe{
	font-family: Bebas Neue;
	font-size: 24px;
	position:  relative;
	margin: 24px;
	width:  50%;
	background-color: #f1f1f1;
	color: rgba(60, 60, 60, 1.0);
	padding: 16px 24px;
	border: 3px rgba(60, 60, 60, 1.0);
	cursor: pointer;
	border-radius: 120px;
	text-align: center;
	box-shadow: 12px 6px 6px rgba(0, 0, 0, 0.1);
}

.btn-subscribe:hover {
  background-color: rgba(60, 60, 60, 1.0);
  color: white;
  border:  2px solid;
  border-color: #f1f1f1;
}
*/

#myStoreDiv{order: 1;}
#myStoreTextDiv {order: 2;}
#myProductDiv {order: 4;}
#myProductTextDiv {order: 3;}

form {
	background-color: rgba(60, 60, 60, 0.6);
	border-radius: 30px;
	margin:  15% auto;
	padding:  30px;
	width:  600px;
	display:  grid;
	box-shadow: 9px 6px 6px rgba(0, 0, 0, 0.1);
}

input{
	width:  81%;
	margin:  24px auto;
	heigth:  30px;
	border:  3px #333;
	border-radius: 36px;
	padding:  24px;
	box-shadow: 9px 6px 6px rgba(0, 0, 0, 0.1);
}

footer{
	text-align: center;
    align-items: center;
    background-color: rgba(60, 60, 60, 1.0);
  	color: white;
  	padding: 24px;
}
